@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Office 365 Groups Connectors demo</p>

    <a href="https://outlook.office.com/connectors/ConnectToO365?state=myAppsState&app_name=My Custom App&app_logo_url=http://www.catb.org/hacker-emblem/glider.png&callback_url=https://vrdmn.local.net:44301/Start">
        <img src="https://connecttoo365.blob.core.windows.net/images/ConnectToO365Button.png" alt="Connect to Office 365"></img>
    </a>
</div>